body {
	padding: 0;
	margin: 0;
}

.container {
	width: 1020px;
	margin: auto ;
	text-align:  center;
}
.htmlcolor{
	color: #01629d;
}
.textcolor{
	color: #ff0000;
}
.list{
	text-align:  left;
}
.ordinary{
color: #82699d;
}
#p1 {
color: #82699d;
}