body {
	padding: 0;
	margin: 0;
}

.header {
	width: 100%;
	height: 13%;
	top: 0%;
	position: fixed;;
	display: flex;
	justify-content: space-between;
}

.Orange {
	width: 49%;
	height: 100%;
	background: #fea238; 
}


.navigation{
	position: fixed;
	width: 100%;
	height: 40%;
	background: #d8eb1b; 
	top: 15%;
}

.content{
	position: fixed;
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: space-between;
	top: 58%;
}

.Blue{
	width: 32%;
	background: #4a89ce; 
}

.footer{
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 20%;
	bottom: 0%; 
}

.Gray{
	width: 24%;
	background: #e2e2e2; 
}

